@page
@model ListaDeCompras.Pages.Produtos.Create
@{
    ViewData["Title"] = "Create Prod";
}

<h1>Criação de Produtos</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Produto.Nome" class="control-label">Produto</label>
                <input asp-for="Produto.Nome" class="form-control" />
                <span asp-validation-for="Produto.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produto.ResponsavelId" class="control-label">Usuário Resposável</label>
                <select class="form-select" asp-for="Produto.ResponsavelId" required aria-label="Usuário Resposável">
                    @foreach (Usuario user in Model.GetUsuarios())
                    {
                        <option asp-for="Produto.ResponsavelId" value=@user.Id>@user.Nome</option>
                    }
                </select>
                <span asp-validation-for="Produto.ResponsavelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produto.Referencia" class="control-label">Produto de Referência</label>
                <input asp-for="Produto.Referencia" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Produto.DtHrInclusao" class="control-label">Horário da Inclusão</label>
                <input asp-for="Produto.DtHrInclusao" type="datetime-local" class="form-control" readonly
                    value=@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss") />
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="Index">Voltar para o menu</a>
</div>