@page
@model ListaDeCompras.Pages.Produtos.Edit
@{
    ViewData["Title"] = "Edit";
}

<h1>Edição de Produtos</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProdutoBind.Id" hidden class="control-label">Produto</label>
                <input asp-for="ProdutoBind.Id" hidden class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ProdutoBind.Nome" class="control-label">Produto</label>
                <input asp-for="ProdutoBind.Nome" class="form-control" />
                <span asp-validation-for="ProdutoBind.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProdutoBind.ResponsavelId" class="control-label">Usuário Resposável</label>
                <select class="form-select" asp-for="ProdutoBind.ResponsavelId" required aria-label="Usuário Resposável">
                    @foreach (UsuarioModel user in Model.GetUsuarios())
                    {
                        if (user.Id == Model.ProdutoBind.ResponsavelId)
                        {
                            <option selected asp-for="ProdutoBind.ResponsavelId" value=@user.Id>@user.Nome</option>
                        }
                        else
                        {
                            <option asp-for="ProdutoBind.ResponsavelId" value=@user.Id>@user.Nome</option>
                        }
                    }
                </select>
                <span asp-validation-for="ProdutoBind.ResponsavelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProdutoBind.Referencia" class="control-label">Produto de Referência</label>
                <input asp-for="ProdutoBind.Referencia" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ProdutoBind.DtHrInclusao" class="control-label">Horário da Inclusão</label>
                <input asp-for="ProdutoBind.DtHrInclusao" type="datetime-local" class="form-control" disabled />
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>