@page
@model ListaDeCompras.Pages.Index

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
<h1>Lista de Compras</h1>
<p>Este app foi criado com o intuito de desenvolver conhecimentos nos Frameworks AspNet Razor Pages juntamente com Entity Framework.</p>
<div class="text-center">