@page
@model ListaDeCompras.Pages.Index

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
<h1>Lista de Compras</h1>
<p>Este app foi criado com o proposito de resolver uma solução pessoal.</p>
<div class="text-center">