@page
@model ListaDeCompras.Pages.Index

<html>

<head>
    <title></title>
</head>

<body>
    <div>
        <ul>
            @for (int i = 0; i < 5; i++)
            {
                <li>Teste @i</li>
            }
        </ul>
    </div>
</body>

</html>